.text{
    text-align: center;
}
 h1{
    color:#0081C9;
    margin-right:120px;
    
}
.text-p{
 
    font-size: 10px;
}

.item1 h5{
    color:#0081C9;
    font-weight: bold;
}
.item1{
    margin:50px;
}
.form-group label{
    margin-bottom: 20px;
}
.form-group label{
    margin-top:20px ;
    font-weight: bold;
}
.form-group input{
    height: 50px;
}

.btn{
    margin-top:20px;
    width: 200px;
    height: 50px;
    border-radius:10px;
}
.container{
    padding: 50px;
    margin-top:-50px;
}
.item-address{
    margin-left: 100px;
}